In [1]:
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go

In [2]:
df_iris = pd.read_csv('datasets/iris.csv')
df_iris.head(3)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa

In [3]:
data1 = [go.Scatter(x=df_iris['sepal.length'], 
                    y = df_iris['sepal.width'],
                    mode = "markers")]

layout1 = go.Layout(title="Iris scatter plot",
                     xaxis={"title":"sepal length"},
                     yaxis={"title":"sepal width"})

In [4]:
fig = go.Figure(data=data1, layout=layout1)
pyo.plot(fig, filename="plot_iris_scatter.html")

'plot_iris_scatter.html'

In [5]:
df_sp500 = pd.read_csv('datasets/SP500_data.csv')
df_sp500.head(3)

         Date       Open       High        Low      Close  Adj Close  Volume
0  1928-01-03  17.760000  17.760000  17.760000  17.760000  17.760000       0
1  1928-01-04  17.719999  17.719999  17.719999  17.719999  17.719999       0
2  1928-01-05  17.549999  17.549999  17.549999  17.549999  17.549999       0

In [6]:
traza1 = go.Scatter(x = df_sp500['Date'], 
                    y = df_sp500['Open'],
                    mode = "lines+markers")

traza2 = go.Scatter(x = df_sp500['Date'],
                    y = df_sp500['Close'],
                    mode = 'lines+markers')
data2 = [traza1, traza2]

layout2 = go.Layout(title = 'SP500 line plot',
                    xaxis = dict(title = 'date'),
                    yaxis = dict(title = 'close'))

In [7]:
fig = go.Figure(data = data2, layout=layout2)
pyo.plot(fig, filename = "plot_sp500_line_plot.html")

'plot_sp500_line_plot.html'

In [8]:
df_ventas = pd.read_csv('datasets/Ventas.csv', sep = ';')
df_ventas.head(10)

,Fecha,Total Venta Classic Cars,Total Venta Motorcycles,Total Venta Planes,Total Venta Ships,Total Venta Trains,Total Venta Trucks and Buses,Total Venta Vintage Cars
0,ene-21,198555,66199,103496.0,69068.0,NaN,101661.0,76212
1,feb-21,220266,107584,50660.0,46688.0,22295.0,7973.0,75539
2,mar-21,216497,158174,168445.0,2353.0,5234.0,71864.0,80267
3,abr-21,267449,52374,20541.0,NaN,NaN,51155.0,60920
4,may-21,285155,51863,NaN,NaN,25326.0,64369.0,67898
5,jun-21,248718,35949,23113.0,56841.0,20311.0,42555.0,83544
6,jul-21,50876,74319,NaN,47271.0,8153.0,NaN,29008
7,ago-21,123039,88478,27227.0,27390.0,11402.0,41791.0,46291
8,sep-21,174256,6535,13368.0,25508.0,8771.0,46697.0,122563
9,oct-21,225774,72539,90772.0,37893.0,NaN,45272.0,96830

In [9]:
traza1 = go.Scatter(x = df_ventas['Fecha'],
                    y = df_ventas['Total Venta Classic Cars'],
                    mode = 'lines',
                    name = 'Classic Cars')
traza2 = go.Scatter(x = df_ventas['Fecha'],
                    y = df_ventas['Total Venta Motorcycles'],
                    mode = 'lines',
                    name = 'Motorcycles')
data3 = [traza1, traza2]

layoud3 = go.Layout(title = 'Line plot Ventas Classic Cars vs Motorcycles',
                    xaxis = dict(title = 'Fecha'),
                    yaxis = dict(title = 'Total ventas'))
fig = go.Figure(data = data3, layout=layoud3)

In [10]:
pyo.plot(fig, filename='lines_plot_Ventas_Classic_cars_vs_Motorcycles.html')

'lines_plot_Ventas_Classic_cars_vs_Motorcycles.html'