In [1]:
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go

In [2]:
df_iris = pd.read_csv('datasets/iris.csv')
df_iris.head(3)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa

In [3]:
data1 = [go.Scatter(x=df_iris['sepal.length'], 
                    y = df_iris['sepal.width'],
                    mode = "markers")]

layout1 = go.Layout(title="Iris scatter plot",
                     xaxis={"title":"sepal length"},
                     yaxis={"title":"sepal width"})

In [4]:
fig = go.Figure(data=data1, layout=layout1)
pyo.plot(fig, filename="plot_iris_scatter.html")

'plot_iris_scatter.html'

In [5]:
df_sp500 = pd.read_csv('datasets/SP500_data.csv')
df_sp500.head(3)

         Date       Open       High        Low      Close  Adj Close  Volume
0  1928-01-03  17.760000  17.760000  17.760000  17.760000  17.760000       0
1  1928-01-04  17.719999  17.719999  17.719999  17.719999  17.719999       0
2  1928-01-05  17.549999  17.549999  17.549999  17.549999  17.549999       0

In [9]:
traza1 = go.Scatter(x = df_sp500['Date'], 
                    y = df_sp500['Open'],
                    mode = "lines+markers")

traza2 = go.Scatter(x = df_sp500['Date'],
                    y = df_sp500['Close'],
                    mode = 'lines+markers')
data2 = [traza1, traza2]

layout2 = go.Layout(title = 'SP500 line plot',
                    xaxis = dict(title = 'date'),
                    yaxis = dict(title = 'close'))

In [10]:
fig = go.Figure(data = data2, layout=layout2)
pyo.plot(fig, filename = "plot_sp500_line_plot.html")

'plot_sp500_line_plot.html'