In [4]:
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go

In [5]:
df_iris = pd.read_csv('datasets/iris.csv')
df_iris.head(3)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa

In [11]:
data1 = [go.Scatter(x=df_iris['sepal.length'], 
                    y = df_iris['sepal.width'],
                    mode = "markers")]

layout1 = go.Layout(title="Iris scatter plot",
                     xaxis={"title":"sepal length"},
                     yaxis={"title":"sepal width"})

In [12]:
fig = go.Figure(data=data1, layout=layout1)
pyo.plot(fig, filename="plot_iris_scatter.html")

'plot_iris_scatter.html'