In [4]:
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go

In [5]:
df_iris = pd.read_csv('datasets/iris.csv')
df_iris.head(3)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa

In [11]:
data1 = [go.Scatter(x=df_iris['sepal.length'], 
                    y = df_iris['sepal.width'],
                    mode = "markers")]

layout1 = go.Layout(title="Iris scatter plot",
                     xaxis={"title":"sepal length"},
                     yaxis={"title":"sepal width"})

In [12]:
fig = go.Figure(data=data1, layout=layout1)
pyo.plot(fig, filename="plot_iris_scatter.html")

'plot_iris_scatter.html'

In [13]:
df_sp500 = pd.read_csv('datasets/all_stocks_5yr.csv')
df_sp500.head(3)

         date   open   high    low  close   volume Name
0  2013-02-08  15.07  15.12  14.63  14.75  8407500  AAL
1  2013-02-11  14.89  15.01  14.26  14.46  8882000  AAL
2  2013-02-12  14.45  14.51  14.10  14.27  8126000  AAL

In [14]:
data2 = [go.Scatter(x = df_sp500['date'], 
                    y = df_sp500['close'],
                    mode = "lines")]

layout2 = go.Layout(title = 'SP500 line plot',
                    xaxis = dict(title = 'date'),
                    yaxis = dict(title = 'close'))

In [15]:
fig = go.Figure(data = data2, layout=layout2)
pyo.plot(fig, filename = "plot_sp500_line_plot.html")

'plot_sp500_line_plot.html'